
{% extends 'base.html' %}
{% block content %}

    <div class="box-container box-box">
        <h1 class="text-center" style="color: #fff;">Add New Satff</h1>
        <hr>
        <!-- {% for msg in messages %}
            <h2>{{msg}}</h2>
        {% endfor %} -->
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Full Name</label>
              <input type="text" class="form-control" name="fullname">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
           
            <button type="submit" class="btn btn-secondary" style="width: 100%">Submit</button>
          </form>
    </div>

{% endblock %}

